{
  "local": {
    "env": "local",
    "port": 3001,
    "jwtSecretKey": "YOUR_JWT_SECRET_KEY",
    "crypto_key": "YOUR_CRYPTO_KEY",
    "cryptoKey": "YOUR_CRYPTO_KEY",
    "apiUrl": "",
    "region": "ap-northeast-2",
    "frontendUrl": "https://your-frontend.example.com",
    "mongoUri": "mongodb+srv://USER:PASSWORD@HOST/DATABASE?retryWrites=true&w=majority",
    "bucket": "your-s3-bucket-name",
    "secretManagerKey": "your-aws-secrets-manager-key-name",
    "awsConfigureProfile": "your-aws-profile",
    "backendURL": "https://your-api.example.com/api/v1"
  },
  "development": {
    "env": "development",
    "port": 3001,
    "jwtSecretKey": "YOUR_JWT_SECRET_KEY",
    "crypto_key": "YOUR_CRYPTO_KEY",
    "cryptoKey": "YOUR_CRYPTO_KEY",
    "apiUrl": "",
    "frontendUrl": "https://your-frontend.example.com",
    "mongoUri": "mongodb+srv://USER:PASSWORD@HOST/DATABASE?retryWrites=true&w=majority",
    "bucket": "your-s3-bucket-name",
    "region": "ap-northeast-2",
    "secretManagerKey": "your-aws-secrets-manager-key-name",
    "awsConfigureProfile": "your-aws-profile",
    "backendURL": "https://your-api.example.com/api/v1"
  }
}
